<!DOCTYPE html>

<html>
  <head>
    <title>Add Address Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include 'header.html' %}
  <br> <br> <br>

  <div class="form">
    <div class="card" style="width: 30rem; left:35%;position:absolute;">
      <div class="card-body">
        <h1 class="card-title">Add Address Details</h1>
        <form action="/AddAddressDetails" method="POST">
          <div class="form-group">
            <label>ID</label>
            <input class="form-control" type="text" id="ID" name="ID" placeholder="">
          </div>

          <div class="form-group">
            <label>Street</label>
            <input class="form-control" type="text" id="Street" name="Street" placeholder="">
          </div>

          <div class="form-group">
            <label>Door No.</label>
            <input class="form-control" type="text" id="Door" name="Door" placeholder="">
          </div>

          <div class="form-group">
            <label>City</label>
            <input class="form-control" type="text" id="City" name="City" placeholder="">
          </div>

          <div class="form-group">
            <label>Village</label>
            <input class="form-control" type="text" id="Village" name="Village" placeholder="">
          </div>

          <div class="form-group">
            <label>Pin Code</label>
            <input class="form-control" type="text" id="Pin" name="Pin" placeholder="">
          </div>

          <div class="form-group">
            <label>State Name</label>
            <input class="form-control" type="text" id="State" name="State" placeholder="">
          </div>

          <div class="form-group">
            <label>Country Name</label>
            <input class="form-control" type="text" id="Country" name="Country" placeholder="">
          </div>
           <br>
          <input class="btn btn-primary" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>

  </body>
</html>
